/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 10-Nov-2022, 10:13:58 pm
    Author     : ranji
*/
*{
   font-family: 'Playfair Display', sans-serif;
}
.main{
    margin-left: 400px;border: 1px solid black;height: 300px;width: 550px;border-radius: 5px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
.content-box{
    margin-top:30px ;
   
}
.button{
    margin-top: 20px;
    margin-left: 20px;border-radius: 5px;
    height: 40px;
    width: 90px;
    background-color: #66ff33;
    border:none;
    
}
.button:hover{
    text-decoration: black;
    background-color: #2eb82e;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
.button{
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px)translateX(2px);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    transition-duration: 0.3s;
    transition-property: transform;
}
.button:hover,.button:focus,.button:active{
    transform: scale(0.8);
    transform: scale(0.8);
}
footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background:lawngreen;
}
